@import "tailwindcss" layer(modules);

@reference 'lifeforge-ui/dist';

@font-face {
  font-family: 'LTAIdentityMedium';
  src:
    url('/assets/apps/RailwayMap/fonts/LTAIdentity-Medium.woff2')
      format('woff2'),
    url('/assets/apps/RailwayMap/fonts/LTAIdentity-Medium.woff') format('woff');
}
